node_modules/
dist/
.next/
.turbo/
web-build/
.expo/
*.orig.*
expo-env.d.ts

.env
.env.local
.env*.local
apps/api/.env
apps/web/.env.local

*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

.DS_Store
*.pem
*.tsbuildinfo

.vscode/
.idea/

coverage/
apps/mobile/android/
apps/mobile/ios/
